body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-size:14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.home.main-wrapper #search-widget-wrapper {
    background: #efefef url('../images/login-bg.jpg') no-repeat;
    background-size: cover;
}


.table-job tr:nth-child(odd){ 
		background: #fafafa;
}
	/*  Define the background color for all the EVEN background rows  */
.table-job tr:nth-child(even){
		background: #FFF;
}

.navbar li .caret {
    color: #bdbdbd;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

