<div class="row">
    <div class="col-md-12">
        @Html.Action("ListCompanyForHomePage", "Company")
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        @Html.Action("ListProductForHomePage", "Product")
    </div>
</div>