@using Portal.CMS.Models
@model Portal.CMS.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    ViewBag.Title = "Quên mật khẩu";
}

<div id="login-panel-wrapper">
    <div id="login-panel" class="panel-group">
        <div class="panel panel-default center">
            <div class="panel-heading">
                <img alt="Mạng việc làm và tuyển dụng nguồn nhân lực cao tại Việt Nam - ZODY" src="~/Images/logo.png" />
            </div>
            <div class="panel-body">
                <span class="light-300" style="font-size:14px">Đăng nhập hoặc đăng ký thành viên nhanh bằng tài khoản</span>
                <div class="row">
                    <div class="social-row">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
                <div style="width: 100%;height: 11px;border-bottom: 1px solid #ddd;margin: 30px 0;">
                    <span style="font-size: 13px; background-color: #FFF; padding: 0 10px;color: #aaa;">Bạn quên mật khẩu?</span>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", name = "forgotpasswordForm", @class = "form-horizontal" }))
                    {

                    <div class="form-group">
                        <span class="light-300" style="font-size:13px">
                            Vui lòng nhập email bạn đã đăng ký tài khoản trên Zody.
                            <br />
                            Chúng tôi sẽ gửi email hướng dẫn bạn tạo mật khẩu mới.
                        </span>

                    </div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="input-field col-md-12">
                            @*<input id="email" type="email" class="validate">*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Nhập địa chỉ email của bạn", required = "", ng_model = "userData.Email", type = "email", name = "Email", id = "email", autofocus = "0" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 right">
                            <input type="submit" value="GỬI LẠI MẬT KHẨU" class="btn btn-primary" />                            
                        </div>
                    </div>
                    }
            </div>
        </div>
    </div>

    <div class="copyright-text">&copy; 2016 <strong>ZODY</strong>. Mạng tuyển dụng trực tuyến Việt Nam</div>
</div>