<!--pageContent-->
<div class="pageContent">
    <!--colLeft-->
    <div class="colLeft">
        @Html.Action("ListCompanyForHomePage", "Company")
        <hr />
        @Html.Action("ListProductForHomePage", "Product")
    </div>
    <!--End colLeft-->
    <!--colRight-->
    <div class="colRight">
        @Html.Action("ListCategory", "Category", new { categoryType = Portal.Core.Service.BaseService.CategoryType.Trades })
        <hr />
        @Html.Action("ListCategory", "Category", new { categoryType = Portal.Core.Service.BaseService.CategoryType.City })
    </div>
    <!--End colRight-->
    <div class="clearfix"></div>
</div>
<!--End pageContent-->