@{
    ViewBag.Title = "Không tìm thấy đường dẫn";
}

@Styles.Render("~/Content/Error")

<div class="page404">
    <!-- Vietnamese-->
    <h1 class="page404-tagline">Không tìm thấy đường dẫn này.</h1>
    <div class="page404-message">
        <p>Bạn hãy kiểm tra lại đường link.</p>
        <p class="contact-line">Rất nhiều công việc mới đang chờ bạn, <a href="http://zody.vn" title="Quay về trang chủ">quay về Trang chủ</a> ngay! </p>
    </div>

    <!-- English-->
    <h1 class="page404-tagline">Page not found.</h1>
    <div class="page404-message">
        <p>We’re sorry, the page you were looking for doesn't exist.</p>
        <p>Double check your URL.</p>
        <p class="contact-line">You can always <a href="http://zody.vn" title="Go back to Homepage">go back to Homepage</a> for more new jobs!</p>
    </div>

    <div class="photo-404">
        <img alt="Photo - 404" src="~/Images/page-not-found-404.png">
    </div>

</div>
