@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="main-wrapper home">
        <div id="search-widget-wrapper" class="relative">
            <div class="container">
                <div id="search-widget" class="collapse search-widget col-sm-10 col-sm-push-1 in">
                    <div class="search-form">
                        <h1 class="text-center">Tuyển dụng, tìm kiếm việc làm trực tuyến tại ZODY</h1>
                        <div class="row m-t">
                            <div class="stylized-tab search-tabs">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#home" id="jobs-tab" aria-controls="home" role="tab" data-toggle="tab">Việc làm</a>
                                    </li>
                                    <li role="presentation"><a href="#profile" id="companies-tab" aria-controls="profile" role="tab" data-toggle="tab">Công ty</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content m-t">
                                    <!-- Jobs -->
                                    <div role="tabpanel" class="tab-pane tab-job active" id="home">
                                        <form class="form-inline form-adjacent" name="search" onsubmit="return submitBlockSearchForm()" id="frm_block_quick_search" method="get">
                                            <div class="row">
                                                <div class="form-group col-sm-8 keyword-search">
                                                    <span class="twitter-typeahead" style="position: relative; display: block; direction: ltr;"><input type="text" name="keyword" id="keywordMainSearch" value="" class="form-control job-typeahead input-lg tt-input" placeholder="Nhập chức danh, vị trí công việc, kỹ năng liên quan...." autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-keywords"></div><div class="tt-dataset-jobTitle"></div><a class="view-all" href="#" hidden=""> Xem tất cả </a></span></span>
                                                </div>
                                                <div class="form-group location-search col-sm-4">
                                                    <div class="border-text-box">
                                                        <div class="select2-container select2-container-multi select-location" id="s2id_locationMainSearch" style="width: 100%;"><ul class="select2-choices">  <li class="select2-search-field">    <label for="s2id_autogen1" class="select2-offscreen"></label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen1" placeholder="" style="width: 240px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   <li class="select2-no-results">No matches found</li></ul></div></div><select multiple="" class="select-location" id="locationMainSearch" name="location[]" data-placeholder="Chọn địa điểm" tabindex="-1" style="display: none;">
                                                            <option value="-1">Tất cả địa điểm</option>
                                                            <option value="29">Hồ Chí Minh</option>
                                                            <option value="24">Hà Nội</option>
                                                            <option value="71">ĐBSCL</option>
                                                            <option value="2">An Giang</option>
                                                            <option value="3">Bà Rịa - Vũng Tàu</option>
                                                            <option value="4">Bắc cạn</option>
                                                            <option value="5">Bắc Giang</option>
                                                            <option value="6">Bạc Liêu</option>
                                                            <option value="7">Bắc Ninh</option>
                                                            <option value="8">Bến Tre</option>
                                                            <option value="9">Biên Hòa</option>
                                                            <option value="10">Bình Định</option>
                                                            <option value="11">Bình Dương</option>
                                                            <option value="12">Bình Phước</option>
                                                            <option value="13">Bình Thuận</option>
                                                            <option value="14">Cà Mau</option>
                                                            <option value="15">Cần Thơ</option>
                                                            <option value="16">Cao Bằng</option>
                                                            <option value="17">Đà Nẵng</option>
                                                            <option value="18">Đắc Lắc</option>
                                                            <option value="69">Điện Biên</option>
                                                            <option value="19">Đồng Nai</option>
                                                            <option value="20">Đồng Tháp</option>
                                                            <option value="21">Gia Lai</option>
                                                            <option value="22">Hà Giang</option>
                                                            <option value="23">Hà Nam</option>
                                                            <option value="25">Hà Tây</option>
                                                            <option value="26">Hà Tĩnh</option>
                                                            <option value="27">Hải Dương</option>
                                                            <option value="28">Hải Phòng</option>
                                                            <option value="30">Hòa Bình</option>
                                                            <option value="31">Huế</option>
                                                            <option value="32">Hưng Yên</option>
                                                            <option value="33">Khánh Hòa</option>
                                                            <option value="34">Kon Tum</option>
                                                            <option value="35">Lai Châu</option>
                                                            <option value="36">Lâm Đồng</option>
                                                            <option value="37">Lạng Sơn</option>
                                                            <option value="38">Lào Cai</option>
                                                            <option value="40">Nam Định</option>
                                                            <option value="41">Nghệ An</option>
                                                            <option value="42">Ninh Bình</option>
                                                            <option value="43">Ninh Thuận</option>
                                                            <option value="44">Phú Thọ</option>
                                                            <option value="45">Phú Yên</option>
                                                            <option value="46">Quảng Bình</option>
                                                            <option value="47">Quảng Nam</option>
                                                            <option value="48">Quảng Ngãi</option>
                                                            <option value="49">Quảng Ninh</option>
                                                            <option value="50">Quảng Trị</option>
                                                            <option value="51">Sóc Trăng</option>
                                                            <option value="52">Sơn La</option>
                                                            <option value="53">Tây Ninh</option>
                                                            <option value="54">Thái Bình</option>
                                                            <option value="55">Thái Nguyên</option>
                                                            <option value="56">Thanh Hóa</option>
                                                            <option value="57">Thừa Thiên-Huế</option>
                                                            <option value="58">Tiền Giang</option>
                                                            <option value="59">Trà Vinh</option>
                                                            <option value="60">Tuyên Quang</option>
                                                            <option value="61">Kiên Giang</option>
                                                            <option value="62">Vĩnh Long</option>
                                                            <option value="63">Vĩnh Phúc</option>
                                                            <option value="65">Yên Bái</option>
                                                            <option value="66">Khác</option>
                                                            <option value="70">Quốc tế</option>
                                                            <option value="72">Hậu Giang</option>
                                                            <option value="39">Long An</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-t-xs">
                                                <div class="form-group col-sm-4 category-search">
                                                    <div class="border-text-box">
                                                        <div class="select2-container select2-container-multi select-category" id="s2id_cateListMainSearch" style="width: 100%;"><ul class="select2-choices">  <li class="select2-search-field">    <label for="s2id_autogen2" class="select2-offscreen"></label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen2" placeholder="" style="width: 240px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   <li class="select2-no-results">No matches found</li></ul></div></div><select data-placeholder="Chọn Ngành Nghề" multiple="" class="select-category" id="cateListMainSearch" name="industry[]" tabindex="-1" style="display: none;">
                                                            <option value="-1">Tất cả ngành nghề</option>
                                                            <option value="83">An toàn lao động</option>
                                                            <option value="78">Bác sĩ</option>
                                                            <option value="33">Bán hàng</option>
                                                            <option value="34">Bán hàng kỹ thuật</option>
                                                            <option value="32">Bán lẻ/Bán sỉ</option>
                                                            <option value="24">Bảo hiểm</option>
                                                            <option value="84">Bảo trì/Sửa chữa</option>
                                                            <option value="30">Bất động sản</option>
                                                            <option value="47">Biên phiên dịch</option>
                                                            <option value="17">Cấp quản lý điều hành</option>
                                                            <option value="56">Chứng khoán</option>
                                                            <option value="65">Cơ khí</option>
                                                            <option value="66">Công nghệ cao</option>
                                                            <option value="28">Dầu khí</option>
                                                            <option value="52">Dệt may/Da giày</option>
                                                            <option value="11">Dịch vụ khách hàng</option>
                                                            <option value="6">Dược Phẩm/Công nghệ sinh học</option>
                                                            <option value="80">Dược sĩ</option>
                                                            <option value="12">Giáo dục/Đào tạo</option>
                                                            <option value="62">Hàng cao cấp</option>
                                                            <option value="75">Hàng gia dụng</option>
                                                            <option value="82">Hàng hải</option>
                                                            <option value="37">Hàng không/Du lịch</option>
                                                            <option value="74">Hàng tiêu dùng</option>
                                                            <option value="2">Hành chánh/Thư ký</option>
                                                            <option value="43">Hóa học/Hóa sinh</option>
                                                            <option value="69">Hoạch định/Dự án</option>
                                                            <option value="72">In ấn/ Xuất bản</option>
                                                            <option value="57">Internet/Online Media</option>
                                                            <option value="35">IT - Phần mềm</option>
                                                            <option value="55">IT-Phần cứng/Mạng</option>
                                                            <option value="1">Kế toán</option>
                                                            <option value="53">Kho vận</option>
                                                            <option value="58">Kiểm toán</option>
                                                            <option value="5">Kiến trúc/Thiết kế nội thất </option>
                                                            <option value="27">Marketing</option>
                                                            <option value="15">Mới tốt nghiệp</option>
                                                            <option value="16">Môi trường/Xử lý chất thải</option>
                                                            <option value="10">Mỹ Thuật/Nghệ Thuật/Thiết Kế</option>
                                                            <option value="42">Ngân hàng</option>
                                                            <option value="18">Người nước ngoài/Việt Kiều</option>
                                                            <option value="73">Nhà hàng/Khách sạn</option>
                                                            <option value="23">Nhân sự</option>
                                                            <option value="4">Nông nghiệp/Lâm nghiệp</option>
                                                            <option value="71">Overseas Jobs</option>
                                                            <option value="25">Pháp lý</option>
                                                            <option value="21">Phi chính phủ/Phi lợi nhuận</option>
                                                            <option value="70">QA/QC</option>
                                                            <option value="3">Quảng cáo/Khuyến mãi/Đối ngoại</option>
                                                            <option value="68">Sản phẩm công nghiệp</option>
                                                            <option value="26">Sản Xuất</option>
                                                            <option value="59">Tài chính/Đầu tư</option>
                                                            <option value="63">Thời trang</option>
                                                            <option value="51">Thời vụ/Hợp đồng ngắn hạn</option>
                                                            <option value="49">Thu Mua/Vật Tư/Cung Vận</option>
                                                            <option value="54">Thực phẩm &amp; Đồ uống</option>
                                                            <option value="81">Trình dược viên</option>
                                                            <option value="48">Truyền hình/Truyền thông/Báo chí</option>
                                                            <option value="8">Tư vấn</option>
                                                            <option value="67">Tự động hóa/Ô tô</option>
                                                            <option value="36">Vận chuyển/Giao nhận</option>
                                                            <option value="41">Viễn Thông</option>
                                                            <option value="7">Xây dựng</option>
                                                            <option value="19">Xuất nhập khẩu</option>
                                                            <option value="79">Y sĩ/Hộ lý</option>
                                                            <option value="22">Y tế/Chăm sóc sức khỏe</option>
                                                            <option value="77">Địa chất/Khoáng sản</option>
                                                            <option value="76">Điện lạnh/Nhiệt lạnh</option>
                                                            <option value="64">Điện/Điện tử</option>
                                                            <option value="39">Khác</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-4 salary-search hidden-xs">
                                                    <input class="form-control " type="text" min="0" step="50" name="salarymin" maxlength="6" id="salaryMinMainSearch" value="" placeholder="Mức lương tối thiểu hàng tháng (USD)">
                                                </div>

                                                <div class="form-group col-sm-4 level-search hidden-xs">
                                                    <div class="border-text-box ">
                                                        <div class="select2-container" id="s2id_jobLevelMainSearch" style="width: 100%;"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen text-gray-light" id="select2-chosen-3">Tất cả cấp bậc</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen3" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-3" id="s2id_autogen3"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen3_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-3" id="s2id_autogen3_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-3">   </ul></div></div><select class="form-control select-level" data-placeholder="Chọn Cấp Bậc" id="jobLevelMainSearch" name="joblevel" tabindex="-1" title="" style="display: none;">
                                                            <option value="-1">Tất cả cấp bậc</option>
                                                            <option value="1">Mới tốt nghiệp/Thực tập sinh</option>
                                                            <option value="5">Nhân viên</option>
                                                            <option value="6">Trưởng nhóm/Giám sát</option>
                                                            <option value="7">Trưởng phòng</option>
                                                            <option value="10">Phó giám đốc</option>
                                                            <option value="3">Giám đốc</option>
                                                            <option value="4">Tổng giám đốc điều hành</option>
                                                            <option value="8">Phó chủ tịch</option>
                                                            <option value="9">Chủ tịch</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-t">
                                                <div class="form-group col-sm-12 text-center">
                                                    <button onclick="return searchPremiumJob(0);" type="submit" class="btn btn-primary m-b-sm btn-search-all">
                                                        <i class="fa fa-search"></i>
                                                        Tìm ngay!
                                                    </button>
                                                </div>
                                            </div>
                                            <input type="hidden" id="searchBoxPremiumJob" name="premium_job" value="0">
                                        </form>
                                    </div>
                                    <!--/ Jobs -->
                                    <!-- Company -->
                                    <div role="tabpanel" class="tab-pane tab-company" id="profile">
                                        <form class="form-inline form-adjacent text-center" id="frm_company_quick_search" method="POST" action="http://www.vietnamworks.com/?m=searchCompany">
                                            <div class="form-group">
                                                <span class="twitter-typeahead" style="position: relative; display: block; direction: ltr;"><input type="text" class="form-control company-typeahead input-lg col-sm-12 tt-hint" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"><input type="text" id="keywordCompanySearch" name="keywordCompanySearch" class="form-control company-typeahead input-lg col-sm-12 tt-input" placeholder="Nhập tên công ty để tìm ..." autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-companies"></div></span></span>
                                            </div>
                                            <input type="hidden" id="companyId" name="companyId">
                                            <input type="hidden" id="companyName" name="companyName">
                                            <button type="Submit" id="company-search" onclick="return companySearch();" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                <span class="visible-xs-inline" "=" ">Search</span>
                                            </button>
                                        </form>
                                    </div>
                                    <!--/ Company -->
                                </div>
                            </div>
                        </div>
                        <form id="upload-resume" method="post" enctype="multipart/form-data" action="http://www.vietnamworks.com/?m=uploadAttachFile">
                            <p class="text-center m-t-lg">
                                <strong>
                                    <label class="upload-resume relative">
                                        <a href="/login">Đăng nhập và tải hồ sơ</a>
                                    </label>
                                </strong>
                                để có thể xin việc mọi lúc mọi nơi
                            </p>
                            <div class="messages">
                                <p class="gray-light text-center m-t-n-sm" id="upload-status"></p>
                                <p class="gray-light text-center m-t-n-sm" id="upload-progress" style="display: none;"><em><i class="fa fa-spinner fa-pulse fa-fw"></i></em></p>
                                <p class="text-success text-center m-t-n-sm" id="upload-success"></p>
                                <p class="text-danger text-center m-t-n-sm" id="upload-error"></p>
                            </div>

                        </form>
                    </div>
                    <div class="back-to-search-box">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-chevron-down fa-stack-1x"></i>
                        </span>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>