<div class="boxItem">
    <h1 class="title">Thống kê</h1>
    <div class="boxContent">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 15px;">
                <ul>
                    <li>
                        <strong>- Đang trực tuyến:</strong> @ApplicationInstance.Application["OnlineVisitors"].ToString()
                    </li>
                    <li>
                        <strong>- Tổng lượt truy cập:</strong> @ApplicationInstance.Application["TotalVisitors"].ToString()
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

