
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>Trung Tâm Quảng Bá Thương Hiệu Việt.</title>
    <meta name="description" content="Trung tâm Quảng bá thương hiệu công ty, Doanh nghiệp, cơ sở kinh doanh đến khách hàng hiệu quả uy tín.">
    <meta name="keywords" content="ho so doanh nghiep, quang ba doanh nghiep">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://quangbathuonghieuviet.vn/" />
    <meta property="og:title" content="Trung Tâm Quảng Bá Thương Hiệu Việt." />
    <meta property="og:image" content="http://quangbathuonghieuviet.vn//data/logo.png" />
    <meta property="og:site_name" content="Trung Tâm Quảng Bá Thương Hiệu Việt." />
    <meta property="og:description" content="Trung tâm Quảng bá thương hiệu công ty, Doanh nghiệp, cơ sở kinh doanh đến khách hàng hiệu quả uy tín." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="author" content="www.pgh.vn" />
    <meta name="msvalidate.01" content="ff20ef2b13205c84" />
    <meta name="google-site-verification" content="ot9PxV7elY-mfHYZmC5OCEaCZkDaPq5-7Dpxu1JOHIg" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20701503-27', 'auto');
        ga('send', 'pageview');

    </script>
    <link rel="canonical" href="http://quangbathuonghieuviet.vn/" />
    <link rel="shortcut icon" href="http://quangbathuonghieuviet.vn/templates/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <!--Css-->
    <link href="http://quangbathuonghieuviet.vn/templates/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://quangbathuonghieuviet.vn/templates/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="http://quangbathuonghieuviet.vn/templates/css/style.css" rel="stylesheet" type="text/css" />
    <!--Javascipt-->
    <script type="text/javascript">
        var base_url = 'http://quangbathuonghieuviet.vn/';
        var uri_page = 'http://quangbathuonghieuviet.vn/.html';
    </script>
    <script src="http://quangbathuonghieuviet.vn/templates/js/jquery.min.js"></script>
    <script src="http://quangbathuonghieuviet.vn/templates/js/bootstrap.min.js"></script>
    <script src="http://quangbathuonghieuviet.vn/templates/js/jquery.validate.min.js"></script>
    <script src="http://quangbathuonghieuviet.vn/templates/js/jquery.ellipsis.js"></script>
    <script src="http://quangbathuonghieuviet.vn/templates/js/function.js"></script>
</head>
<body>
    <!--Wrapper-->
    <div id="wrapper">
        <!--Header-->
        <header>
            <!--navTop-->
            <div class="navTop">
                <!--Container-->
                <div class="container">
                    <ul>
                        <li><a href="javascript:;" class="linkdangky">Đăng ký</a></li>
                        <li><a data-toggle="modal" data-target="#modalLogin">Đăng nhập</a></li>
                    </ul>
                </div><!--End Container-->
            </div><!--End navTop-->
            <!--Container-->
            <div class="container">
                <!--HeaderLeft-->
                <div class="headerLeft">
                    <a href="http://quangbathuonghieuviet.vn/"><img src="http://quangbathuonghieuviet.vn/templates/images/logo.png" /></a>
                </div>
                <div class="headerRight">
                    <!--boxItem-->
                    <div class="">
                        <div class="boxContent">
                            <p><img alt="" src="/data/images/banner/BNquan%20ba%20thuong%20hieu-1.jpg" style="height:175px; width:900px" /></p>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--End boxItem-->
                </div>
                <!--End HeaderLeft-->
            </div><!--End Container-->
        </header>    <!--End Header-->
        <div class="container">

            <!--pageContent-->
            <div class="pageContent">
                <!--colLeft-->
                <div class="colLeft">
                    <!--Box-->
                    <div class="boxItem">
                        <h1 class="title">Doanh nghiệp <span class="numpost">(Có 352 doanh nghiệp)</span></h1>
                        <div class="boxContent">
                            <!--Enterprise-->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cong-ty-tnhh-mtv-co-khi-hiep-duoc-id427.html" title="Công Ty TNHH MTV Cơ Khí Hiệp Được ">Công Ty TNHH MTV Cơ Khí Hiệp Được </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cong-ty-tnhh-mtv-co-khi-hiep-duoc-id427.html" title="Công Ty TNHH MTV Cơ Khí Hiệp Được "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/59e88b3ca99b43d3308cd568473cfba0.png" alt="Công Ty TNHH MTV Cơ Khí Hiệp Được " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>112 Võ Văn Hát - KP Phước Hiệp - P Long Trường - Q.9 - Tp HCM (Cạnh Trường THPT Long Trường)</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span>nguyenduoc831@yahoo.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>13</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quan-que-rom-nhan-id426.html" title="Quán Quê Rốm Nhàn">Quán Quê Rốm Nhàn</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quan-que-rom-nhan-id426.html" title="Quán Quê Rốm Nhàn"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/096766142e19e65a1c7f880214168be8.png" alt="Quán Quê Rốm Nhàn" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>Thôn Ngọc Liễn - Xã Đại Hà - Huyện Kiến Thụy - Tp Hải Phòng</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>12</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/banh-dua-nuong-quy-thu-id419.html" title=" Bánh Dừa Nướng Quý Thu "> Bánh Dừa Nướng Quý Thu </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/banh-dua-nuong-quy-thu-id419.html" title=" Bánh Dừa Nướng Quý Thu "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/627847e0aa59bd577cea03e227ea47cf.png" alt=" Bánh Dừa Nướng Quý Thu " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>Thôn Phú Mỹ - Xã Quế Xuân 2 - Huyện Quế Sơn - Tỉnh Quảng Nam ( Cách Trường THCS Quế Xuân 300m )</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>115</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-hang-hon-kho-id422.html" title=" Nhà Hàng Hòn Khô "> Nhà Hàng Hòn Khô </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-hang-hon-kho-id422.html" title=" Nhà Hàng Hòn Khô "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/71ba8f2d149bd909d0356a55cf017eec.png" alt=" Nhà Hàng Hòn Khô " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>Thôn Hải Bắc - Xã Nhơn Hải - TP Quy Nhơn - Tỉnh Bình Định </span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>51</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cong-ty-tnhh-may-mac-son-hung-id389.html" title="Công Ty TNHH May Mặc Sơn Hùng">Công Ty TNHH May Mặc Sơn Hùng</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cong-ty-tnhh-may-mac-son-hung-id389.html" title="Công Ty TNHH May Mặc Sơn Hùng"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/505e6aa4048834877ffedf206373c645.png" alt="Công Ty TNHH May Mặc Sơn Hùng" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>140 Lê Tấn Trung - Thọ Quang - Sơn Trà - Đà Nẵng </span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span> sonhung7968@gmail.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>27</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/spa-hao-hao-id24.html" title="SPA HẢO HẢO">SPA HẢO HẢO</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/spa-hao-hao-id24.html" title="SPA HẢO HẢO"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/662f68484968d2ec713fd62c15623487.jpg" alt="SPA HẢO HẢO" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>348 Phan Đăng Lưu - Quận Kiến An - Tp Hải Phòng</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>814</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cua-hanh-thoi-trang-victoria-beckham-id25.html" title="CỬA HÀNH THỜI TRANG VICTORIA BECKHAM">CỬA HÀNH THỜI TRANG VICTORIA BECKHAM</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cua-hanh-thoi-trang-victoria-beckham-id25.html" title="CỬA HÀNH THỜI TRANG VICTORIA BECKHAM"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/df34c3c62b461ffbf70d9af70bef3b94.jpg" alt="CỬA HÀNH THỜI TRANG VICTORIA BECKHAM" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>87 Đinh Tiên Hoàng - Quận Hồng Bàng - Tp Hải Phòng</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>636</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hoc-vien-dao-tao-noi-mi-han-quoc-johnny-nam-kiet-id26.html" title="HỌC VIỆN ĐÀO TẠO NỐI MI HÀN QUỐC - JOHNNY NAM KIỆT">HỌC VIỆN ĐÀO TẠO NỐI MI HÀN QUỐC - JOHNNY NAM KIỆT</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hoc-vien-dao-tao-noi-mi-han-quoc-johnny-nam-kiet-id26.html" title="HỌC VIỆN ĐÀO TẠO NỐI MI HÀN QUỐC - JOHNNY NAM KIỆT"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/91c64c6b7dfd6d8d1c9116b96a96edf9.jpg" alt="HỌC VIỆN ĐÀO TẠO NỐI MI HÀN QUỐC - JOHNNY NAM KIỆT" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>263 Tô Hiệu - Quận Lê Chân - Tp Hải Phòng</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span>johnnynamkiet1983@gmail.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>652</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-nghi-sieu-sang-id416.html" title=" Nhà Nghỉ Siêu Sang "> Nhà Nghỉ Siêu Sang </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-nghi-sieu-sang-id416.html" title=" Nhà Nghỉ Siêu Sang "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/10ccd72cf3ea21af4bb2f44dec6ec17d.jpg" alt=" Nhà Nghỉ Siêu Sang " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>Ấp An Cư ( Bãi Cỏ Lớn ) - Xã An Sơn - Huyện Kiên Hải - Tỉnh Kiên Giang</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>14</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/trai-cua-giong-so-2-id417.html" title="Trại Cua Giống Số 2">Trại Cua Giống Số 2</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/trai-cua-giong-so-2-id417.html" title="Trại Cua Giống Số 2"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/45431c25c62685f96967dbf1f77324e6.jpg" alt="Trại Cua Giống Số 2" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> Xã Thạnh Phú - Huyện Cái Nước - Tỉnh Cà Mau</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span> phongthuysancamau24@gmail.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>18</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cua-hang-nail-xinh-id30.html" title="CỬA HÀNG NAIL XINH">CỬA HÀNG NAIL XINH</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cua-hang-nail-xinh-id30.html" title="CỬA HÀNG NAIL XINH"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/357f8bcb0ebe7727a0f55ad58cc9ae30.jpg" alt="CỬA HÀNG NAIL XINH" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>41A Đình Đông - Quận Lê Chân - Tp Hải Phòng</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span>anhtuanpham1978hp8@gmail.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>660</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-nghi-tan-tai-2-id418.html" title=" Nhà Nghỉ Tấn Tài 2"> Nhà Nghỉ Tấn Tài 2</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-nghi-tan-tai-2-id418.html" title=" Nhà Nghỉ Tấn Tài 2"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/930ef711a09b7deba616ace5b746177f.jpg" alt=" Nhà Nghỉ Tấn Tài 2" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> Khu Du Lịch Chùa Cổ Thạch – Xã Bình Thạnh – Huyện Tuy Phong – Tỉnh Bình Thuận </span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>24</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-san-xuat-trong-ngoc-canh-id415.html" title=" Cơ Sở Sản Xuất Trống Ngọc Cảnh "> Cơ Sở Sản Xuất Trống Ngọc Cảnh </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-san-xuat-trong-ngoc-canh-id415.html" title=" Cơ Sở Sản Xuất Trống Ngọc Cảnh "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/c1cb4c515b9e5d1fa1b610b3244ba927.jpg" alt=" Cơ Sở Sản Xuất Trống Ngọc Cảnh " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>Số Nhà 30 Ấp Ngô Quyền - Xã Bàu Hàm 2 - Huyện Thống Nhất - Tỉnh Đồng Nai</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>18</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-san-xuat-trong-truong-son-id414.html" title="Cơ Sở Sản Xuất Trống Trường Sơn">Cơ Sở Sản Xuất Trống Trường Sơn</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-san-xuat-trong-truong-son-id414.html" title="Cơ Sở Sản Xuất Trống Trường Sơn"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/082a9b1a58767d8c2175cad0d60c24eb.jpg" alt="Cơ Sở Sản Xuất Trống Trường Sơn" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> Tổ Dân Phố Đồng - Phường Quảng Thuận - TX Ba Đồn - Tỉnh Quảng Bình</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>18</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-hang-nam-muoi-id413.html" title=" Nhà Hàng Nặm Muổi "> Nhà Hàng Nặm Muổi </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nha-hang-nam-muoi-id413.html" title=" Nhà Hàng Nặm Muổi "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/b55630990e9c2eac35b6daa7d5d59349.jpg" alt=" Nhà Hàng Nặm Muổi " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> KM336 - QL6 ( Đường Đi Hà Nội Điện Biên ) Thôn Bản Pán - Xã Chiềng Ly - Huyện Thuận Châu - Tỉnh Sơn La </span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>12</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-da-my-nghe-tran-gia-hung-id412.html" title=" Cơ Sở Đá Mỹ Nghệ Trần Gia Hưng"> Cơ Sở Đá Mỹ Nghệ Trần Gia Hưng</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-da-my-nghe-tran-gia-hung-id412.html" title=" Cơ Sở Đá Mỹ Nghệ Trần Gia Hưng"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/f3ef35c98aecbe7f3dc1df9914086ab7.jpg" alt=" Cơ Sở Đá Mỹ Nghệ Trần Gia Hưng" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> Thôn Đông Mo – Xã Dĩnh Trì – TP. Bắc Giang  - Tỉnh Bắc Giang</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span> trangiahungbg@gmail.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>15</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hair-salon-anh-thien-id411.html" title=" Hair Salon Anh Thiện "> Hair Salon Anh Thiện </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hair-salon-anh-thien-id411.html" title=" Hair Salon Anh Thiện "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/9b35d2fbbd8418e3d8905b88ec880271.jpg" alt=" Hair Salon Anh Thiện " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>SN 368 Thân Nhân Trung – Khu 2 – Thị Trấn Bích Động – Huyện Việt Yên – Tỉnh Bắc Giang</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>14</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-moc-hoang-id410.html" title="Cơ Sở Mộc Hoàng">Cơ Sở Mộc Hoàng</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-moc-hoang-id410.html" title="Cơ Sở Mộc Hoàng"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/cc80e00560671a977901ef926cf48011.jpg" alt="Cơ Sở Mộc Hoàng" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> Ấp 1 – Xã Đạo Thạnh – Tp Mỹ Tho – Tỉnh Tiền Giang ( Cách Cây Xăng Ánh Hồng 100m )</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>20</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-san-xuat-cup-minh-quan-id409.html" title=" Cơ Sở Sản Xuất Cúp Minh Quân"> Cơ Sở Sản Xuất Cúp Minh Quân</a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/co-so-san-xuat-cup-minh-quan-id409.html" title=" Cơ Sở Sản Xuất Cúp Minh Quân"><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/aa824e29e236ba6bd392065791a686a5.jpg" alt=" Cơ Sở Sản Xuất Cúp Minh Quân" /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span> Tổ 3 - Ấp 2 – Xã Sông Trầu – Huyện Trảng Bom – Tỉnh Đồng Nai (Cách Cơ Quan Xã Sông Trầu 200m) </span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>14</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="enterprise">
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/studio-thai-bao-duong-id408.html" title=" Studio Thái Bảo Đường "> Studio Thái Bảo Đường </a>
                                        </h3>
                                        <div class="clearfix"></div>
                                        <div class="enterpriseLogo">
                                            <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/studio-thai-bao-duong-id408.html" title=" Studio Thái Bảo Đường "><img src="http://quangbathuonghieuviet.vn/data/enterprise/200/cae82b0cc9526170441053e84a30062c.jpg" alt=" Studio Thái Bảo Đường " /></a>
                                        </div>
                                        <div class="enterpriseInfo">
                                            <div class="rowInfo">
                                                <i class="fa fa-map-marker"></i> <span>D20 - P Tân Bình - TX Đồng Xoài - Tỉnh Bình Phước</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-envelope-o"></i> <span> thaibaomakeup@gmail.com</span>
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin
                                            </div>
                                            <div class="rowInfo">
                                                <i class="fa fa-eye"></i> <span>13</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!--End Enterprise-->
                                </div>
                            </div>
                            <div class="pages"><span class="pagebar-mainbody">&nbsp;<span class="pagebar-selections"><span class="current">1</span></span>&nbsp;<a href="http://quangbathuonghieuviet.vn/20.html">2</a>&nbsp;<a href="http://quangbathuonghieuviet.vn/40.html">3</a>&nbsp;<a href="http://quangbathuonghieuviet.vn/60.html">4</a>&nbsp;<a href="http://quangbathuonghieuviet.vn/80.html">5</a>&nbsp;<a href="http://quangbathuonghieuviet.vn/100.html">6</a>&nbsp;<a href="http://quangbathuonghieuviet.vn/20.html"><span class="next">Sau</span></a>&nbsp;&nbsp;<a href="http://quangbathuonghieuviet.vn/340.html"><span class="last">&raquo; Cuối</span></a></span></div>
                        </div>
                    </div>
                    <!--End Box-->
                    <!--Box-->
                    <div class="boxItem">
                        <h1 class="title">Sản phẩm nổi bật</h1>
                        <div class="boxContent">
                            <!--Enterprise-->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="itemPr">
                                        <a href="http://quangbathuonghieuviet.vn/san-pham/tieu-hat-post50.html" title="Tiêu hạt"><img src="http://quangbathuonghieuviet.vn/data/post/500/02fbefc628007d7961d038331c67a008.jpg" /></a>
                                        <h3 class="title">
                                            <a href="http://quangbathuonghieuviet.vn/san-pham/tieu-hat-post50.html" title="Tiêu hạt">Tiêu hạt</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End Box-->
                </div>
                <!--End colLeft-->
                <!--colRight-->
                <div class="colRight">
                    <!--boxItem-->
                    <div class="boxItem">
                        <h1 class="title">Tìm kiếm doanh nghiệp</h1>
                        <div class="boxContent">
                            <link href="http://quangbathuonghieuviet.vn/site/mod/mod_search/assets/css.css" rel="stylesheet" />
                            <script src="http://quangbathuonghieuviet.vn/site/mod/mod_search/assets/search.js"></script>
                            <div class="formResponsive" style="font-family: Arial;font-size: 14px;">
                                <form id="searchEnterprise" method="POST">
                                    <ul class="tabSearch">
                                        <li class="active" data-slug="doanh-nghiep">Doanh nghiệp</li>
                                        <li data-slug="san-pham">Sản phẩm</li>
                                    </ul>
                                    <div class="rowForm">
                                        <label class="big" style="width: 100%">Từ khóa</label>
                                        <div class="typeForm" style="width: 100%">
                                            <input type="text" name="keyword" id="keywordEnterprise" />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rowForm">
                                        <label class="big" style="width: 100%">Nghành nghề</label>
                                        <div class="typeForm" style="width: 100%">
                                            <select id="jobEnterprise">
                                                <option value="">Tất cả</option>
                                                <option value="luu-tru-khach-san-du-lich-dich-vu-du-lich-dich-vu-van-tai">Lưu Trú - Khách Sạn - Du lịch - Dịch Vụ Du Lịch - Dịch Vụ Vận Tải</option>
                                                <option value="am-thuc-nha-hang-cuoi-hoi-do-uong-the-thao-giai-tri-thuc-duong-dich-vu-am-thanh-anh-sang">Ẩm Thực- Nhà Hàng- Cưới Hỏi- Đồ Uống- Thể Thao- Giải Trí- Thực dưỡng- Dịch vụ âm thanh-ánh sáng</option>
                                                <option value="shop-hoa-thoi-trang-vai-may-mac-giay-dep-tui-xach">Shop Hoa - Thời Trang - Vải - May Mặc - Giày Dép - Túi Xách</option>
                                                <option value="spa-toc-tham-my-vien-salon-ao-cuoi-gym-make-up">Spa - Tóc - Thẩm mỹ Viện - Salon - Áo Cưới- GYM- MAKE UP</option>
                                                <option value="dich-vu-y-te-thuoc-kham-chua-benh">Dịch Vụ Y Tế - Thuốc - Khám Chữa Bệnh</option>
                                                <option value="dich-vu-go-noi-that-my-nghe-da-gom-su-tre">Dịch Vụ Gỗ Nội Thất - Mỹ Nghệ - Đá - Gốm Sứ - Tre</option>
                                                <option value="bat-dong-san-xay-dung-vat-lieu-noi-that-sat-my-nghe-nhom-kinh-cua-keo-cua-cuon-van-san-son-thach-cao">Bất Động Sản - Xây Dựng - Vật Liệu - Nội Thất - Sắt Mỹ Nghệ - Nhôm Kính - Cửa Kéo - Cửa Cuốn - Ván Sàn - Sơn - Thạch Cao</option>
                                                <option value="nong-lam-nghiep-chan-nuoi-vuon-uom-thuy-san-chim-ca-canh-cay-canh">Nông Lâm Nghiệp - Chăn Nuôi - Vườn ươm - Thủy Sản - Chim Cá Cảnh - Cây Cảnh</option>
                                                <option value="vang-bac-nu-trang-mat-kinh-dong-ho">Vàng Bạc - Nữ Trang - Mắt Kính - Đồng Hồ</option>
                                                <option value="in-an-quang-cao-decal-thiep">In Ấn - Quảng Cáo - Decal - Thiệp</option>
                                                <option value="dien-thoai-dien-tu-dien-lanh-dien-chieu-sang-may-loc-nuoc">Điện Thoại - Điện Tử - Điện Lạnh - Điện Chiếu Sáng - Máy lọc nước</option>
                                                <option value="dai-ly-cua-hang-co-so-dich-vu-mai-tang">Đại Lý - Cửa Hàng - Cơ Sở - Dịch vụ mai táng</option>
                                                <option value="van-phong-luat-su-giao-duc-va-dao-tao">Văn Phòng Luật Sư - Giáo Dục Và Đào Tạo</option>
                                                <option value="o-to-xe-may-xe-dap-phu-tung-may-moc-thiet-bi-sua-chua-bao-tri">Ô Tô - Xe Máy - Xe Đạp - Phụ Tùng - Máy Móc - Thiết Bị - Sửa Chữa - Bảo Trì</option>
                                                <option value="dich-vu-kinh-doanh">Dịch Vụ Kinh Doanh</option>
                                                <option value="thiet-ke-web-phan-mem-hosting-domain">Thiết Kế Web - Phần Mềm - Hosting - Domain</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rowForm">
                                        <label class="big" style="width: 100%">Tỉnh thành</label>
                                        <div class="typeForm" style="width: 100%">
                                            <select id="cityEnterprise">
                                                <option value="">Tất cả</option>
                                                <option value="tp-hcm">TP Hồ Chí Minh</option>
                                                <option value="ha-noi">Hà Nội</option>
                                                <option value="can-tho">Cần Thơ</option>
                                                <option value="da-nang">Đà Nẵng</option>
                                                <option value="an-giang">An Giang</option>
                                                <option value="hoi-an">Hội An</option>
                                                <option value="ba-ria-vung-tau">Bà Rịa - Vũng Tàu</option>
                                                <option value="binh-dinh">Bình Định</option>
                                                <option value="binh-duong">Bình Dương</option>
                                                <option value="binh-phuoc">Bình Phước</option>
                                                <option value="binh-thuan">Bình Thuận</option>
                                                <option value="bac-can">Bắc Cạn</option>
                                                <option value="bac-giang">Bắc Giang</option>
                                                <option value="bac-ninh">Bắc Ninh</option>
                                                <option value="bac-lieu">Bạc Liêu</option>
                                                <option value="ben-tre">Bến Tre</option>
                                                <option value="ca-mau">Cà mau</option>
                                                <option value="cao-bang">Cao Bằng</option>
                                                <option value="daknong">Daknông</option>
                                                <option value="dong-nai">Đồng Nai</option>
                                                <option value="dong-thap">Đồng Tháp</option>
                                                <option value="dac-lac">Đắc Lắc</option>
                                                <option value="dien-bien">Điện Biên</option>
                                                <option value="gia-lai">Gia Lai</option>
                                                <option value="ha-giang">Hà Giang</option>
                                                <option value="ha-nam">Hà Nam</option>
                                                <option value="ha-tinh">Hà Tĩnh</option>
                                                <option value="ha-tay">Hà Tây</option>
                                                <option value="hoa-binh">Hòa Bình</option>
                                                <option value="hau-giang">Hậu Giang</option>
                                                <option value="hai-duong">Hải Dương</option>
                                                <option value="hai-phong">Hải Phòng</option>
                                                <option value="hung-yen">Hưng Yên</option>
                                                <option value="khanh-hoa">Khánh Hoà</option>
                                                <option value="kien-giang">Kiên Giang</option>
                                                <option value="kon-tum">Kon Tum</option>
                                                <option value="lao-cai">Lào Cai</option>
                                                <option value="lam-dong">Lâm Đồng</option>
                                                <option value="lai-chau">Lai Châu</option>
                                                <option value="lang-son">Lạng Sơn</option>
                                                <option value="long-an">Long An</option>
                                                <option value="nam-dinh">Nam Định</option>
                                                <option value="nghe-an">Nghệ An</option>
                                                <option value="ninh-binh">Ninh Bình</option>
                                                <option value="ninh-thuan">Ninh Thuận</option>
                                                <option value="phu-tho">Phú Thọ</option>
                                                <option value="phu-yen">Phú Yên</option>
                                                <option value="quang-binh">Quảng Bình</option>
                                                <option value="quang-nam">Quảng Nam</option>
                                                <option value="quang-ngai">Quảng Ngãi</option>
                                                <option value="quang-ninh">Quảng Ninh</option>
                                                <option value="quang-tri">Quảng Trị</option>
                                                <option value="soc-trang">Sóc Trăng</option>
                                                <option value="son-la">Sơn La</option>
                                                <option value="tay-ninh">Tây Ninh</option>
                                                <option value="thai-binh">Thái Bình</option>
                                                <option value="thai-nguyen">Thái Nguyên</option>
                                                <option value="thua-thien-hue">Thừa Thiên - Huế</option>
                                                <option value="thanh-hoa">Thanh Hóa</option>
                                                <option value="tien-giang">Tiền Giang</option>
                                                <option value="tra-vinh">Trà Vinh</option>
                                                <option value="tuyen-quang">Tuyên Quang</option>
                                                <option value="vinh-long">Vĩnh Long</option>
                                                <option value="vinh-phuc">Vĩnh Phúc</option>
                                                <option value="yen-bai">Yên Bái</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button type="submit" class="btnSubmit">Tìm kiếm</button>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--End boxItem-->
                    <!--boxItem-->
                    <div class="boxItem">
                        <h1 class="title">Ngành nghề</h1>
                        <div class="boxContent">
                            <link href="http://quangbathuonghieuviet.vn/site/mod/mod_job/assets/css.css" rel="stylesheet" />
                            <ul class="listJob">
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/am-thuc-nha-hang-cuoi-hoi-do-uong-the-thao-giai-tri-thuc-duong-dich-vu-am-thanh-anh-sang.html" title="Ẩm Thực- Nhà Hàng- Cưới Hỏi- Đồ Uống- Thể Thao- Giải Trí- Thực dưỡng- Dịch vụ âm thanh-ánh sáng">Ẩm Thực- Nhà Hàng- Cưới Hỏi- Đồ Uống- Thể Thao- Giải Trí- Thực dưỡng- Dịch vụ âm thanh-ánh sáng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/luu-tru-khach-san-du-lich-dich-vu-du-lich-dich-vu-van-tai.html" title="Lưu Trú - Khách Sạn - Du lịch - Dịch Vụ Du Lịch - Dịch Vụ Vận Tải">Lưu Trú - Khách Sạn - Du lịch - Dịch Vụ Du Lịch - Dịch Vụ Vận Tải</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/shop-hoa-thoi-trang-vai-may-mac-giay-dep-tui-xach.html" title="Shop Hoa - Thời Trang - Vải - May Mặc - Giày Dép - Túi Xách">Shop Hoa - Thời Trang - Vải - May Mặc - Giày Dép - Túi Xách</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/spa-toc-tham-my-vien-salon-ao-cuoi-gym-make-up.html" title="Spa - Tóc - Thẩm mỹ Viện - Salon - Áo Cưới- GYM- MAKE UP">Spa - Tóc - Thẩm mỹ Viện - Salon - Áo Cưới- GYM- MAKE UP</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dich-vu-y-te-thuoc-kham-chua-benh.html" title="Dịch Vụ Y Tế - Thuốc - Khám Chữa Bệnh">Dịch Vụ Y Tế - Thuốc - Khám Chữa Bệnh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dich-vu-go-noi-that-my-nghe-da-gom-su-tre.html" title="Dịch Vụ Gỗ Nội Thất - Mỹ Nghệ - Đá - Gốm Sứ - Tre">Dịch Vụ Gỗ Nội Thất - Mỹ Nghệ - Đá - Gốm Sứ - Tre</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/bat-dong-san-xay-dung-vat-lieu-noi-that-sat-my-nghe-nhom-kinh-cua-keo-cua-cuon-van-san-son-thach-cao.html" title="Bất Động Sản - Xây Dựng - Vật Liệu - Nội Thất - Sắt Mỹ Nghệ - Nhôm Kính - Cửa Kéo - Cửa Cuốn - Ván Sàn - Sơn - Thạch Cao">Bất Động Sản - Xây Dựng - Vật Liệu - Nội Thất - Sắt Mỹ Nghệ - Nhôm Kính - Cửa Kéo - Cửa Cuốn - Ván Sàn - Sơn - Thạch Cao</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nong-lam-nghiep-chan-nuoi-vuon-uom-thuy-san-chim-ca-canh-cay-canh.html" title="Nông Lâm Nghiệp - Chăn Nuôi - Vườn ươm - Thủy Sản - Chim Cá Cảnh - Cây Cảnh">Nông Lâm Nghiệp - Chăn Nuôi - Vườn ươm - Thủy Sản - Chim Cá Cảnh - Cây Cảnh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/vang-bac-nu-trang-mat-kinh-dong-ho.html" title="Vàng Bạc - Nữ Trang - Mắt Kính - Đồng Hồ">Vàng Bạc - Nữ Trang - Mắt Kính - Đồng Hồ</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/in-an-quang-cao-decal-thiep.html" title="In Ấn - Quảng Cáo - Decal - Thiệp">In Ấn - Quảng Cáo - Decal - Thiệp</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dien-thoai-dien-tu-dien-lanh-dien-chieu-sang-may-loc-nuoc.html" title="Điện Thoại - Điện Tử - Điện Lạnh - Điện Chiếu Sáng - Máy lọc nước">Điện Thoại - Điện Tử - Điện Lạnh - Điện Chiếu Sáng - Máy lọc nước</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dai-ly-cua-hang-co-so-dich-vu-mai-tang.html" title="Đại Lý - Cửa Hàng - Cơ Sở - Dịch vụ mai táng">Đại Lý - Cửa Hàng - Cơ Sở - Dịch vụ mai táng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/van-phong-luat-su-giao-duc-va-dao-tao.html" title="Văn Phòng Luật Sư - Giáo Dục Và Đào Tạo">Văn Phòng Luật Sư - Giáo Dục Và Đào Tạo</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/o-to-xe-may-xe-dap-phu-tung-may-moc-thiet-bi-sua-chua-bao-tri.html" title="Ô Tô - Xe Máy - Xe Đạp - Phụ Tùng - Máy Móc - Thiết Bị - Sửa Chữa - Bảo Trì">Ô Tô - Xe Máy - Xe Đạp - Phụ Tùng - Máy Móc - Thiết Bị - Sửa Chữa - Bảo Trì</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dich-vu-kinh-doanh.html" title="Dịch Vụ Kinh Doanh">Dịch Vụ Kinh Doanh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/thiet-ke-web-phan-mem-hosting-domain.html" title="Thiết Kế Web - Phần Mềm - Hosting - Domain">Thiết Kế Web - Phần Mềm - Hosting - Domain</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--End boxItem-->
                    <!--boxItem-->
                    <div class="boxItem">
                        <h1 class="title">Tỉnh thành</h1>
                        <div class="boxContent">
                            <link href="http://quangbathuonghieuviet.vn/site/mod/mod_city/assets/css.css" rel="stylesheet" />
                            <ul class="listCity scrollbar">
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/tp-hcm.html" title="TP Hồ Chí Minh">TP Hồ Chí Minh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ha-noi.html" title="Hà Nội">Hà Nội</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/can-tho.html" title="Cần Thơ">Cần Thơ</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/da-nang.html" title="Đà Nẵng">Đà Nẵng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/an-giang.html" title="An Giang">An Giang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hoi-an.html" title="Hội An">Hội An</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ba-ria-vung-tau.html" title="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/binh-dinh.html" title="Bình Định">Bình Định</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/binh-duong.html" title="Bình Dương">Bình Dương</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/binh-phuoc.html" title="Bình Phước">Bình Phước</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/binh-thuan.html" title="Bình Thuận">Bình Thuận</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/bac-can.html" title="Bắc Cạn">Bắc Cạn</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/bac-giang.html" title="Bắc Giang">Bắc Giang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/bac-ninh.html" title="Bắc Ninh">Bắc Ninh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/bac-lieu.html" title="Bạc Liêu">Bạc Liêu</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ben-tre.html" title="Bến Tre">Bến Tre</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ca-mau.html" title="Cà mau">Cà mau</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cao-bang.html" title="Cao Bằng">Cao Bằng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/daknong.html" title="Daknông">Daknông</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dong-nai.html" title="Đồng Nai">Đồng Nai</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dong-thap.html" title="Đồng Tháp">Đồng Tháp</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dac-lac.html" title="Đắc Lắc">Đắc Lắc</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/dien-bien.html" title="Điện Biên">Điện Biên</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/gia-lai.html" title="Gia Lai">Gia Lai</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ha-giang.html" title="Hà Giang">Hà Giang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ha-nam.html" title="Hà Nam">Hà Nam</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ha-tinh.html" title="Hà Tĩnh">Hà Tĩnh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ha-tay.html" title="Hà Tây">Hà Tây</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hoa-binh.html" title="Hòa Bình">Hòa Bình</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hau-giang.html" title="Hậu Giang">Hậu Giang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hai-duong.html" title="Hải Dương">Hải Dương</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hai-phong.html" title="Hải Phòng">Hải Phòng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/hung-yen.html" title="Hưng Yên">Hưng Yên</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/khanh-hoa.html" title="Khánh Hoà">Khánh Hoà</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/kien-giang.html" title="Kiên Giang">Kiên Giang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/kon-tum.html" title="Kon Tum">Kon Tum</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/lao-cai.html" title="Lào Cai">Lào Cai</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/lam-dong.html" title="Lâm Đồng">Lâm Đồng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/lai-chau.html" title="Lai Châu">Lai Châu</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/lang-son.html" title="Lạng Sơn">Lạng Sơn</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/long-an.html" title="Long An">Long An</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nam-dinh.html" title="Nam Định">Nam Định</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/nghe-an.html" title="Nghệ An">Nghệ An</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ninh-binh.html" title="Ninh Bình">Ninh Bình</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/ninh-thuan.html" title="Ninh Thuận">Ninh Thuận</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/phu-tho.html" title="Phú Thọ">Phú Thọ</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/phu-yen.html" title="Phú Yên">Phú Yên</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quang-binh.html" title="Quảng Bình">Quảng Bình</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quang-nam.html" title="Quảng Nam">Quảng Nam</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quang-ngai.html" title="Quảng Ngãi">Quảng Ngãi</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quang-ninh.html" title="Quảng Ninh">Quảng Ninh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/quang-tri.html" title="Quảng Trị">Quảng Trị</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/soc-trang.html" title="Sóc Trăng">Sóc Trăng</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/son-la.html" title="Sơn La">Sơn La</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/tay-ninh.html" title="Tây Ninh">Tây Ninh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/thai-binh.html" title="Thái Bình">Thái Bình</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/thai-nguyen.html" title="Thái Nguyên">Thái Nguyên</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/thua-thien-hue.html" title="Thừa Thiên - Huế">Thừa Thiên - Huế</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/thanh-hoa.html" title="Thanh Hóa">Thanh Hóa</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/tien-giang.html" title="Tiền Giang">Tiền Giang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/tra-vinh.html" title="Trà Vinh">Trà Vinh</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/tuyen-quang.html" title="Tuyên Quang">Tuyên Quang</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/vinh-long.html" title="Vĩnh Long">Vĩnh Long</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/vinh-phuc.html" title="Vĩnh Phúc">Vĩnh Phúc</a></li>
                                <li><i class="fa fa-caret-right"></i><a href="http://quangbathuonghieuviet.vn/doanh-nghiep/yen-bai.html" title="Yên Bái">Yên Bái</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--End boxItem-->
                    <!--boxItem-->
                    <div class="boxItem">
                        <div class="boxContent">

                            <div class="copy_360" style="text-align: center; padding: 5px;">
                                <div>Đang trực tuyến: 2 <br /> Hôm nay: 106</div>
                                <div><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/0.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/0.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/1.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/1.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/2.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/0.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/9.png" /><img src="http://quangbathuonghieuviet.vn/site/mod/mod_online/number/ledgreen/1.png" /></div>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                    </div><!--End boxItem-->
                </div>
                <!--End colRight-->
                <div class="clearfix"></div>
            </div>
            <!--End pageContent-->
        </div>
        <!--End Container-->
        <!--Footer-->
        <footer>
            <div class="container">
                <div class="footerLeft">
                    <h3 class="title">Công Ty TNHH MTV Ứng Dụng Công Nghệ Phần Mềm Việt</h3>
                    <p><i class="fa fa-location-arrow"></i> 05 Nguyễn Cao - Phường Thanh Khê Đông - Quận Thanh Khê - Tp Đà Nẵng</p>
                    <p><i class="fa fa-envelope-o"></i> <a href="mailto:quangbathuonghieuviet2010@gmail.com" style="text-decoration:none;font-size:12px; color:#555" rel="nofollow">quangbathuonghieuviet2010@gmail.com</a> - <i class="fa fa-mobile-phone"></i>0916355445</p>
                </div>
                <div class="footerRight">
                    <div style="margin-bottom: 10px;margin-top: 10px;">
                        <div id="fb-root"></div>
                        <script defer="defer">
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                        <div class="fb-like" data-href="sss" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--tag-->
        <div class="tags">
            <div class="container">
                <div class="tags"></div>
            </div>
        </div>
        <!--End tag-->
    </div>
    <!--End Wrapper-->
    <!-- Modal Login -->
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-width500">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <div class="formResponsive">
                        <form action="http://quangbathuonghieuviet.vn/dang-nhap.html" method="post" accept-charset="utf-8" id="formLogin">
                            <div class="hidden">
                                <input type="hidden" name="token" value="c85307a4c4a5b9c5d6fc6eb2b9c83ecb" />
                            </div>                        <div class="show_error" style="display: none"></div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Tên tài khoản</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="text" id="username" name="username" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Mật khẩu</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="password" id="password" name="password" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <span style="line-height: 40px;"><a href="javascript:;" class="linkdangky">Đăng ký tài khoản</a></span><button type="submit" class="btnUser">Đăng nhập</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //User Login
            $("#formLogin").submit(function (event) {
                event.preventDefault();
                var url = $(this).attr('action');
                var username = $("#username").val();
                var password = $("#password").val();
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { 'username': username, 'password': password },
                    dataType: "json",
                    success: function (data) {
                        if (data.success == true) {
                            location.reload();
                        } else {
                            $(".show_error").show();
                            $(".show_error").html(data.message);
                            console.log(data);
                        }
                    }
                });
            });
        });
    </script>
    <!-- Modal Login -->
    <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-width500">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Đăng ký</h4>
                </div>
                <div class="modal-body">
                    <div class="formResponsive">
                        <form action="http://quangbathuonghieuviet.vn/" method="post" accept-charset="utf-8" id="formRegister">
                            <div class="hidden">
                                <input type="hidden" name="token" value="c85307a4c4a5b9c5d6fc6eb2b9c83ecb" />
                            </div>                        <div class="show_error registerpop" style="display: none"></div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Tên tài khoản</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="text" id="tentaikhoan" name="username" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Mật khẩu</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="password" id="matkhau" name="password" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Nhập lại mật khẩu</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="password" id="re_password" name="re_password" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Email</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="text" id="email" name="email" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Tên doanh nghiệp <span style="font-size: 10px;color:red">Tên tổ chức,công ty, doanh nghiệp,...</span></label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="text" id="enterprise" name="enterprise" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Địa chỉ</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="text" id="address" name="address" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Tỉnh/TP</label>
                                <div class="typeForm" style="width: 100%">
                                    <select style="width: 100%" id="city" name="city" />
                                    <option value="701">TP Hồ Chí Minh</option>
                                    <option value="101">Hà Nội</option>
                                    <option value="815">Cần Thơ</option>
                                    <option value="501">Đà Nẵng</option>
                                    <option value="805">An Giang</option>
                                    <option value="8518">Hội An</option>
                                    <option value="717">Bà Rịa - Vũng Tàu</option>
                                    <option value="507">Bình Định</option>
                                    <option value="711">Bình Dương</option>
                                    <option value="707">Bình Phước</option>
                                    <option value="715">Bình Thuận</option>
                                    <option value="207">Bắc Cạn</option>
                                    <option value="221">Bắc Giang</option>
                                    <option value="223">Bắc Ninh</option>
                                    <option value="821">Bạc Liêu</option>
                                    <option value="811">Bến Tre</option>
                                    <option value="823">Cà mau</option>
                                    <option value="203">Cao Bằng</option>
                                    <option value="607">Daknông</option>
                                    <option value="713">Đồng Nai</option>
                                    <option value="803">Đồng Tháp</option>
                                    <option value="605">Đắc Lắc</option>
                                    <option value="307">Điện Biên</option>
                                    <option value="603">Gia Lai</option>
                                    <option value="201">Hà Giang</option>
                                    <option value="111">Hà Nam</option>
                                    <option value="405">Hà Tĩnh</option>
                                    <option value="105">Hà Tây</option>
                                    <option value="305">Hòa Bình</option>
                                    <option value="825">Hậu Giang</option>
                                    <option value="107">Hải Dương</option>
                                    <option value="103">Hải Phòng</option>
                                    <option value="109">Hưng Yên</option>
                                    <option value="511">Khánh Hoà</option>
                                    <option value="813">Kiên Giang</option>
                                    <option value="601">Kon Tum</option>
                                    <option value="205">Lào Cai</option>
                                    <option value="703">Lâm Đồng</option>
                                    <option value="301">Lai Châu</option>
                                    <option value="209">Lạng Sơn</option>
                                    <option value="801">Long An</option>
                                    <option value="113">Nam Định</option>
                                    <option value="403">Nghệ An</option>
                                    <option value="117">Ninh Bình</option>
                                    <option value="705">Ninh Thuận</option>
                                    <option value="217">Phú Thọ</option>
                                    <option value="509">Phú Yên</option>
                                    <option value="407">Quảng Bình</option>
                                    <option value="503">Quảng Nam</option>
                                    <option value="505">Quảng Ngãi</option>
                                    <option value="225">Quảng Ninh</option>
                                    <option value="409">Quảng Trị</option>
                                    <option value="819">Sóc Trăng</option>
                                    <option value="303">Sơn La</option>
                                    <option value="709">Tây Ninh</option>
                                    <option value="115">Thái Bình</option>
                                    <option value="215">Thái Nguyên</option>
                                    <option value="411">Thừa Thiên - Huế</option>
                                    <option value="401">Thanh Hóa</option>
                                    <option value="807">Tiền Giang</option>
                                    <option value="817">Trà Vinh</option>
                                    <option value="211">Tuyên Quang</option>
                                    <option value="809">Vĩnh Long</option>
                                    <option value="104">Vĩnh Phúc</option>
                                    <option value="213">Yên Bái</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="rowForm">
                                <label class="big" style="width: 100%;margin-bottom: 3px">Điện thoại</label>
                                <div class="typeForm" style="width: 100%">
                                    <input style="width: 100%" type="text" id="phone" name="phone" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <button type="submit" class="btnUser">Đăng ký</button>
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#formRegister").validate({
                errorElement: "div",
                ignore: "",
                rules: {
                    'username': { required: true },
                    'password': { required: true },
                    're_password': { required: true, equalTo: "#matkhau" },
                    'enterprise': { required: true },
                    'address': { required: true },
                    'phone': { required: true },
                    'email': { required: true, email: true }
                },
                messages: {
                    'username': { required: "Vui lòng nhập tên tài khoản" },
                    'password': { required: "Vui lòng nhập mật khẩu" },
                    'enterprise': { required: "Vui lòng tên doanh nghiệp" },
                    'address': { required: "Vui lòng tên địa chỉ" },
                    'phone': { required: "Vui lòng số điện thoại" },
                    're_password': { required: "Xác nhận lại mật khẩu", equalTo: "Mật khẩu không trùng khớp" },
                    'email': { required: "Nhập địa chỉ Email", email: "Email sai định dạng" }
                },
                submitHandler: function (form) {
                    var username = $("#tentaikhoan").val();
                    var password = $("#matkhau").val();
                    var enterprise = $("#enterprise").val();
                    var address = $("#address").val();
                    var phone = $("#phone").val();
                    var email = $("#email").val();
                    var city = $("#city").val();
                    $.ajax({
                        url: 'http://quangbathuonghieuviet.vn/dang-ky.html',
                        type: 'POST',
                        data: { 'username': username, 'password': password, 'enterprise': enterprise, 'address': address, 'city': city, 'phone': phone, 'email': email },
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            if (data.success == true) {
                                location.reload();
                            } else {
                                $(".registerpop").show();
                                $(".registerpop").html(data.error);
                            }
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
