html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}

body {
    line-height: 1.5;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: 400;
    text-align: left;
}

table, td, th {
    vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

a img {
    border: none;
}

a {
    color: #00b9f2;
}

    a:hover {
        color: #f90;
    }

body {
    background: #fefefe;
    color: #333;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
}

.page404 {
    /*width: 820px;*/
    height: 305px;
    padding: 20px 20px 25px 50px;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    position: relative;
}

.page404 {
    box-shadow: 0px 0px 30px #ddd;
    -moz-box-shadow: 0px 0px 30px #ddd;
    -webkit-box-shadow: 0px 0px 30px #ddd;
    border: 1px #dfdfde solid;
}

.page404-tagline {
    width: 530px;
    color: #f7931e;
    font-size: 1.8em;
    font-weight: 700;
    padding: 0;
    line-height: 35px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.page404-message {
    width: 580px;
    margin-bottom: 10px;
    font-size: .95em;
}

    .page404-message p {
        margin: 10px 0;
    }

        .page404-message p.contact-line {
            display: block;
        }

.photo-404 {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 219px;
    height: 330px;
}
